<ion-view view-title="Join Us">
    <ion-content scroll-event-interval="5">
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <div>
            <div ng-repeat="group in groups">
                <div class="group-list">
                    <div class="list">
                        <div class="item item-divider" ion-affix data-affix-within-parent-with-class="group-list">
                            Group {{group}}
                            <span class="badge badge-royal">{{n}}</span>
                        </div>
                        <div class="card" ng-repeat="feed in feeds">
                            <div class="item item-text-wrap">
                                {{feed.title}}
                                <br/> This is a basic Card which contains an item that has wrapping text.
                            </div>
                            <div class="item tabs tabs-secondary tabs-icon-left">
                                <a class="tab-item" href="#">
                                    <i class="icon ion-paper-airplane"></i> Apply
                                </a>
                                <a class="tab-item" href="#">
                                </a>
                                <a class="tab-item" href="#">
                                    <i class="icon ion-share"></i> Share
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
