<ion-view view-title="Register" class="grey_bg">
    <ion-content>
        <div class="list padding">
            <p class="form_logo">
                <img title="" alt="" src="img/logomain.png" class="">
            </p>
            <label class="item item-input">
                <input type="text" placeholder="full name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="username">
            </label>
            <label class="item item-input">
                <input type="email" placeholder="email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password">
            </label>
            <label class="item item-input">
                <input type="tel" placeholder="mobile">
            </label>
            <button ng-click="doRegister();" class="button button-block button-royal">
                SIGN UP
            </button>
            <button class="button button-clear button-block">
                Already have an account?
            </button>
            <a ng-href="#/app/login" class="button button-clear button-block button-royal">
           	Login
         </a>
        </div>

    </ion-content>
</ion-view>